<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
   <div><h2>welcome to my application </h2></div>
    <div class= "m-2">
        <a class="h3 " th:href="@{/users/new}">ADD New User</a>
    </div>
    <div th:if="${message}" class="alert alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-brown">
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>First name</th>
                <th>Last name</th>
                <th></th>
       </tr>

            </thead>
           <tbody>
           <th:block th:each="user :${listUsers}">
               <tr>
                   <td> [[${user.id}]]</td>
                   <td> [[${user.email}]]</td>
                   <td> [[${user.firstName}]]</td>
                   <td> [[${user.lastName}]]</td>
                   <td>
                       <a class="h4 mr-3" th:href= "@{'/users/edit/'+ ${user.id}}">EDIT</a>
                       <a class="h4" th:href="@{'/users/delete/'+ ${user.id}}">DELETE</a>
                   </td>
               </tr>

           </tbody>
        </table>

    </div>

</div>
</body>
</html>